*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*.log
tmp/**/*
/tmp/*
/db/*.sqlite3*
/public/system/*
/coverage/
/spec/tmp/*
#config/database.yml
public/assets*
public/coverage
.powenv

*sublime*
.tags*
.rbenv-version
.DS_Store
